<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>画像だにゃ</th>
      <th>料理名だにゃ</th>
      <th>説明するにゃ</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <% @favorite_recipes.each do |recipe| %>
      <tr>
        <td>
          <% pp recipe, recipe.user %>
          <%= link_to (public_user_path(recipe.user.id)) do %>
            <%=image_tag recipe.user.get_image(100,100), size:'100x100' %>
          <% end %>
        </td>
        <td><%= recipe.title %></td>
        <td><%= recipe.capion %></td>
        <td class=<%= "favorite-" + recipe.id.to_s %> >
          <%= render "public/favorites/btn", recipe: recipe %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>