<div class="container">
　　<div class="row">
		　<% @recipes.each do |recipe| %>
      　<div style="width: 31%;">
        　<%= link_to (public_user_path(recipe.user.id)) do %>
           <% if recipe.image.attached? %>
             <%=image_tag recipe.image, size:'100x100' %>
           <% end %>
          <% end %>
        <h6>料理名</h6>
        <p><%= recipe.title %></p>
        <h6>説明</h6>
        <p><%= recipe.capion %></p>
        <p><%= l recipe.created_at %></p>
        <p class=<%= "favorite-" + recipe.id.to_s %> >
          <%= render "public/favorites/btn", recipe: recipe %>
        </p>
      </div>
    <% end %>


    </div>
</div>